<div class="info-block" id="character-info">
  <% if shown_character.world %>
    <div class="info-block-head"><%= shown_character.name %> of <%= shown_character.world.name %></div>
  <% else %>
    <div class="info-block-head">The ghost of <%= shown_character.name %></div>
  <% end %>
  <div class="info-block-body">
    <div class="data-block">
      <div class="data-element">
        <div class="label">Health</div>
        <div class="value"><%= shown_character.hp %>/<%= shown_character.max_hp -%></div>
      </div>
      <div class="data-element">
        <div class="label">Happy</div>
        <div class="value"><%= shown_character.happy %>/<%= shown_character.max_happy -%></div>
      </div>
      <div class="data-element">
        <div class="label">Vigor</div>
        <div class="value"><%= shown_character.ap %>/<%= shown_character.max_ap -%></div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "history", :locals => {:character => shown_character} %>
