<div class="info-block" id="character-info">
  <% if shown_character.world %>
    <div class="info-block-head"><%= shown_character.name %> of <%= shown_character.world.name %></div>
  <% else %>
    <div class="info-block-head">The ghost of <%= shown_character.name %></div>
  <% end %>
  <div class="info-block-body">
    <div class="data-block">
      <div class="data-element">
        <div class="label">Health</div>
        <div class="value"><%= shown_character.health %>/<%= shown_character.max_health -%></div>
      </div>
      <div class="data-element">
        <div class="label">Resolve</div>
        <div class="value"><%= shown_character.resolve %>/<%= shown_character.max_resolve -%></div>
      </div>
      <div class="data-element">
        <div class="label">Vigor</div>
        <div class="value"><%= shown_character.vigor %>/<%= shown_character.max_vigor -%></div>
      </div>
      <div class="data-element">
        <div class="label">Traits</div>
        <% shown_character.character_traits.each do |trait|%>
          <div class="value detailed" data-description="<%= trait.get.description %>"><%= trait.get.name %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "history", :locals => {:character => shown_character} %>
