<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %>
</div>

<div id="character-info">
  <h5>Character Info</h5>
  <%= @target.name %> - 
  <%= @target.hp %>/<%= @target.max_hp %> health - 
  <%= @target.happy %>/<%= @target.max_happy %> happy -
  <%= @target.ap %>/<%= @target.max_ap %> vigor
</div>

<div>
  <%= link_to "Trade", new_proposal_details_path(:id => @character.id, :proposal_type => 'Trade', :target_id => @target.id) %>
  <%= link_to "Interact", new_proposal_details_path(:id => @character.id, :proposal_type => 'Interaction', :target_id => @target.id) %>
  <%= link_to "Send a message", new_proposal_details_path(:id => @character.id, :proposal_type => 'Message', :target_id => @target.id) %>
</div>


