<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %>
</div>

<div id="choose-target-prompt">
  <%= @action.target_prompt %>
</div>
<div id="choose-target-options">
  <% @targets_by_category.each do |key, category| %>
    <div class="info-block">
      <div class="info-block-head"><%= category.name %></div>
      <div class="info-block-body">
        <% category.targets.each do |target| %>
          <div class="choosable-element element">
            <%= link_to target.get_name(:singular), add_action_with_target_path(:id => @character.id, :target_type => key, :target_id => target.id) %>
            <% if(target.methods.include?(:charges)) %>
              (Charges Remaining: <%= target.charges %>) 
            <% end %>
            (Chance of Success: <%= @action.success_chance(@character, target) %>)
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
