<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="character-info">
  <h5>Character Info</h5>
  <%= @character.name %>
</div>

<div id="world-info">
  <h5>World Info</h5>
  <div id="world-name">
    <%= @world.name %>
  </div>
  <div id="world-peers">
    Peers: <%= @world.characters.count - 1 %>
  </div>
</div>

<div id="action-queue">
  <h5>Actions Queue</h5>
  <ul class="selections">
    <% @character_actions.each do |character_action| %>
      <li><%= character_action.name %></li>
    <% end %>
  </ul>
  
  <ul class="options">
    <% @actions.each do |action|%>
      <li><%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>: <%= action.description %></li>
    <% end %>
  </ul>
</div>
