<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="character-info">
  <h5>Character Info</h5>
  <%= @character.name %> - 
  <%= @character.hp %>/<%= @character.max_hp %> health - 
  <%= @character.happy %>/<%= @character.max_happy %> happy -
  <%= @character.ap %>/<%= @character.max_ap %> vigor
</div>

<div id="world-info">
  <h5>World Info</h5>
  <div id="world-name">
    <%= @world.name %>
  </div>
  <div id="world-peers">
    Peers: <%= @world.characters.count - 1 %>
  </div>
</div>

<div id="action-queue">
  <h5>Actions Queue</h5>
  <ul class="selections">
    <% @character_actions.each do |character_action| %>
      <li><%= character_action.name %> <%= link_to "X", remove_action_path(:id => @character.id, :character_action_id => character_action.id) %></li>
    <% end %>
  </ul>
  
  <ul class="options">
    <% @actions.each do |action|%>
      <li><%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>: <%= action.description %></li>
    <% end %>
  </ul>

  <div class="ready-up">
    <% if @character.ready? %>
      <%= link_to "Wait a minute...", unready_path(:id => @character.id) %>
    <% else %>
      <%= link_to "Ready Up", ready_path(:id => @character.id) %>
    <% end %>
  </div>
</div>
