<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="character-info">
  <h5>Character Info</h5>
  <%= @character.name %> - 
  <%= @character.hp %>/<%= @character.max_hp %> health - 
  <%= @character.happy %>/<%= @character.max_happy %> happy -
  <%= @character.ap %>/<%= @character.max_ap %> vigor
</div>

<div id="character-history">
  <h5>Recently...</h5>
  <% @history.each do |story| %>
    <div><%= story %></div>
  <% end %>
</div>

<div id="world-info">
  <h5>World Info</h5>
  <div id="world-name">
    <%= @world.name %>
  </div>
  <div id="world-turn">
    Turns: <%= @world.turn %>
  </div>
  <div id="world-peers">
    <%= @other_characters.count %> Peers: 
    <ul>
      <% @other_characters.each do |other| %>
        <li><%= link_to other.name, examine_character_path(:id => @character.id, :character_id => other.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="action-queue">
  <h5>Actions Queue</h5>
  <div class="cost">
    <%= @queue_cost %>/<%= @character.ap %> 
  </div>
  <ul class="selections">
    <% @character_actions.each do |character_action| %>
      <li>
        <%= character_action.action.cost.call(@character) %> -
        <%= character_action.name %> <%= link_to "X", remove_action_path(:id => @character.id, :character_action_id => character_action.id) %>
      </li>
    <% end %>
  </ul>
  <ul class="options">
    <% @actions.each do |action|%>
      <li>
        <%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>: 
        <%= action.description %> 
        (Cost: <%= action.cost.call(@character) %>)
      </li>
    <% end %>
  </ul>

  <div class="ready-up">
    <% if @character.ready? %>
      <%= link_to "Wait a minute...", unready_path(:id => @character.id) %>
    <% else %>
      <%= link_to "Ready Up", ready_path(:id => @character.id) %>
    <% end %>
  </div>

  <div class="execute">
    <% if @ready_to_execute %>
      <%= link_to "Execute", execute_world_path(:id => @character.id, :world_id => @world.id) %>
    <% else %>
      Still waiting on <%= @unready_characters.count %> players.
    <% end %>
</div>
