<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="overview">
  <div id="character-overview">
    <div class="info-block" id="character-info">
      <div class="info-block-head">Character Info</div>
      <div class="info-block-body">
        <div class="name"><%= @character.name %></div>
        <div class="data-block">
          <div class="data-element">
            <div class="label">Health</div>
            <div class="value"><%= @character.health %>/<%= @character.max_health -%></div>
          </div>
          <div class="data-element">
            <div class="label">Resolve</div>
            <div class="value"><%= @character.resolve %>/<%= @character.max_resolve -%></div>
          </div>
          <div class="data-element">
            <div class="label">Vigor</div>
            <div class="value"><%= @character.vigor %>/<%= @character.max_vigor -%></div>
          </div>
          <div class="data-element">
            <div class="label">Traits</div>
            <% @character.character_traits.each do |trait|%>
              <div class="value detailed" data-description="<%= trait.get.description %>"><%= trait.get.name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block" id="conditions">
      <div class="info-block-head">Conditions</div>
      <div class="info-block-body">
        <div class="data-block">
          <% @conditions.each do |condition| %>
            <% if condition.active? %>
              <div class="data-element">
                <div class="value detailed" data-description="<%= condition.get.description %>"><%= condition.get.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="inventory">
      <div class="info-block-head">Inventory</div>
      <div class="info-block-body">
        <div class="data-block">
          <% if @inventory.empty? %>
            <div class="data-element">
              <div class="value">You have nothing.</div>
            </div>
          <% else %>
            <% @inventory.each do |item| %>
              <div class="data-element">
                <div class="value">
                  <span class="name detailed" data-description="<%= item.get.description %>"><%= item.variant.singular_name %></span>
                  <% if item.get.max_charges > 0 %>
                    <span class="charges"><%= item.charges %></span>
                  <% end %>
                  <span class="quantity"><%= item.quantity %></span> 
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="knowledges">
      <div class="info-block-head">Knowledge</div>
      <div class="info-block-body">
        <div class="data-block">
          <% if @knowledges.empty? %>
            <div class="data-element">
              <div class="value">You might as well be called John Snow.</div>
            </div>
          <% else %>
            <% @knowledges.each do |knowledge| %>
              <div class="data-element">
                <div class="value detailed" data-description="<%= knowledge.get.description %>"><%= knowledge.get.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="knowledges">
      <div class="info-block-head">Ideas</div>
      <div class="info-block-body">
        <div class="data-block">
          <% if @ideas.empty? %>
            <div class="data-element">
              <div class="value">You've got no idea.</div>
            </div>
          <% else %>
            <% @ideas.each do |idea| %>
              <div class="data-element">
                <div class="value">
                  <span class="name detailed" data-description="<%= idea.get.consider %>"><%= idea.get.name %></span>
                  <span class="charges"><%= idea.progress %>/<%= idea.max_progress %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="controls">
    <div class="info-block" id="ready-tracker">
      <div class="info-block-head">Status</div>
      <div class="info-block-body">
        <% if @character.ready? && !@world.turn_timed_out? %>
          <%= link_to "Wait a minute...", unready_path(:id => @character.id), :class => "ready-up basic-button" %>
        <% elsif !@world.turn_timed_out? %>
          <%= link_to "Ready Up", ready_path(:id => @character.id), :class => "ready-up basic-button" %>
        <% end %>

        <% if @world.ready_to_execute? %>
          <div class="execute">
            <%= link_to "Execute", execute_world_path(:id => @character.id, :world_id => @world.id) %>
          </div>
        <% else %>
          <div class="waiting-on">
            Still waiting on <%= @unready_characters.count %> players, or for <%= format_time(@world.until_time_out) %> to pass.
          </div>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="proposal-manager">
      <div class="info-block-head">Proposals</div>
      <div class="info-block-body">
        <div><%= "New: #{@character.unread_proposals.count}" %></div>
        <%= link_to "View Proposals", proposals_path(:id => @character.id) %>
      </div>
    </div>

    <div class="info-block" id="action-queue">
      <div class="info-block-head">Actions Queue</div>
      <div class="info-block-body">
        <div class="data-block">
          <% if @character_actions.empty? %>
            <div class="data-element">
              No actions selected.
            </div>
          <% else %>
            <% running_cost = 0 %>
            <% @character_actions.each do |character_action| %>
              <% action_cost = character_action.cost %>
              <% running_cost += character_action.cost_remaining %>
              <div class="data-element ">
                <%= link_to "X", remove_action_path(:id => @character.id, :character_action_id => character_action.id), :class => "basic-button tiny-button" -%>
                <% if(running_cost <= @character.vigor) -%>
                  <%= link_to ">", complete_action_path(:id => @character.id, :character_action_id => character_action.id), :class => "basic-button tiny-button" -%>
                <% end -%>
                <span class="charges <%= (running_cost > @character.vigor) ? 'over':''%>">
                  <%= character_action.stored_vigor || 0 -%>/<%= action_cost -%></span>
                <span class="value detailed" data-description="<%= character_action.get.description %>">
                  <%= character_action.get.name %> 
                  <% if character_action.get.requires_target? %>
                    (<%= character_action.target ? character_action.target.get.name : "ERROR: Target does not exist." %>)
                  <% end %>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="action-queue">
      <div class="info-block-head">Possible Actions</div>
      <div class="info-block-body">
        <div class="data-block">
          <% if @actions.empty? %>
            <div class="data-element">
              There's nothing you can do.
            </div>
          <% else %>
            <% @actions.each do |action|%>
              <div class="data-element">
                <div class="value">
                  <span class="charges"><%= action.cost(@character) %></span>
                  <%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>
                </div>
                <div class="sub-value">
                  <%= action.description %> 
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  
  <div id="main-overview">
    <div class="info-block" id="world-info">
      <div class="info-block-head"><%= @world.name %> - The world has turned <%= @world.turn%> times.</div>
      <div class="info-block-body">
        <div id="world-peers">
          <% if @other_characters.empty? %>
            You are alone.
          <% else %>
            There are <%= @other_characters.count %> other beings in this world. 
            <ul>
              <% @other_characters.each do |other| %>
                <li><%= link_to other.name, examine_character_path(:id => @character.id, :character_id => other.id) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="character-history">
      <div class="info-block-head">Recently...</div>
      <div class="info-block-body">
        <% @history.each do |story| %>
          <div class="story"><%= story %></div>
        <% end %>
        <div class="full-history"><%= link_to "View full history", character_history_path(:id=>@character.id) %></div>
      </div>
    </div>
  </div>
</div>
