<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="overview">
  <div id="character-overview">
    <div class="info-block" id="character-info">
      <div class="info-block-head">Character Info</div>
      <div class="info-block-body">
        <div class="name"><%= @character.name %></div>
        <div class="data-block">
          <div class="data-element">
            <div class="label">Health</div>
            <div class="value"><%= @character.health %>/<%= @character.max_health -%></div>
          </div>
          <div class="data-element">
            <div class="label">Resolve</div>
            <div class="value"><%= @character.resolve %>/<%= @character.max_resolve -%></div>
          </div>
          <div class="data-element">
            <div class="label">Vigor</div>
            <div class="value"><%= @character.vigor %>/<%= @character.max_vigor -%></div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-block" id="conditions">
      <div class="info-block-head">Conditions</div>
      <div class="info-block-body">
        <% @conditions.each do |condition| %>
          <div class="conditions-element element"><%= condition.name %>: <%= condition.description %></div>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="inventory">
      <div class="info-block-head">Inventory</div>
      <div class="info-block-body">
        <% if @inventory.empty? %>
          You have nothing.
        <% else %>
          <% @inventory.each do |item| %>
            <div class="inventory-element element">
              <div class="label">
                <span class="name"><%= item.get_name(:singular) %></span>
                <% if item.get.max_charges > 0 %>
                  <span class="charges">(<%= item.charges %>)</span>
                <% end %>
                <span class="quantity">x<%= item.quantity %></span> 
              </div>
              <div class="description"><%= item.description %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="info-block" id="knowledges">
      <div class="info-block-head">Knowledge</div>
      <div class="info-block-body">
        <% if @knowledges.empty? %>
          You might as well be called John Snow.
        <% else %>
          <% @knowledges.each do |knowledge| %>
            <div class="knowledge-element element">
              <div class="label"><%= knowledge.get.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="knowledges">
      <div class="info-block-head">Ideas</div>
      <div class="info-block-body">
        <% if @ideas.empty? %>
          You've got no idea.
        <% else %>
          <% @ideas.each do |idea| %>
            <div class="idea-element element">
              <span class="label"><%= idea.get.name %></span>
              <span class="progress">(Progress: <%= idea.progress %>/<%= idea.max_progress %>)</span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="controls">
    <div class="info-block" id="ready-tracker">
      <div class="info-block-head">Status</div>
      <div class="info-block-body">
        <% if @character.ready? && !@world.turn_timed_out? %>
          <%= link_to "Wait a minute...", unready_path(:id => @character.id), :class => "ready-up basic-button" %>
        <% elsif !@world.turn_timed_out? %>
          <%= link_to "Ready Up", ready_path(:id => @character.id), :class => "ready-up basic-button" %>
        <% end %>

        <% if @world.ready_to_execute? %>
          <div class="execute">
            <%= link_to "Execute", execute_world_path(:id => @character.id, :world_id => @world.id) %>
          </div>
        <% else %>
          <div class="waiting-on">
            Still waiting on <%= @unready_characters.count %> players, or for <%= format_time(@world.until_time_out) %> to pass.
          </div>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="proposal-manager">
      <div class="info-block-head">Proposals</div>
      <div class="info-block-body">
        <div><%= "New: #{@character.unread_proposals.count}" %></div>
        <%= link_to "View Proposals", proposals_path(:id => @character.id) %>
      </div>
    </div>

    <div class="info-block  <%= (@queue_cost > @character.max_vigor)?'over-cost':''%>" id="action-queue">
      <div class="info-block-head">
        Actions Queue
        <div class="queue-cost"><%= @queue_cost %>/<%= @character.max_vigor %></div>
      </div>
      <div class="info-block-body">
        <div class="selections">
          <% if @character_actions.empty? %>
            No actions selected.
          <% else %>
            <% running_cost = 0 %>
            <% @character_actions.each do |character_action| %>
              <% action_cost = character_action.get.cost(@character) %>
              <% running_cost += action_cost %>
              <div class="selection-element ">
                <span class="<%= (running_cost > @character.max_vigor)?'over-cost':''%>">
                  <%= action_cost %> -
                  <%= character_action.get.name %> 
                  <% if character_action.get.requires_target? %>
                    (<%= character_action.target ? character_action.target.get.name : "ERROR: Target does not exist." %>)
                  <% end %>
                  <% if character_action.stored_vigor %>
                    (Partially completed: <%= character_action.stored_vigor %>vigor spent)
                  <% end %>
                  <%= link_to "X", remove_action_path(:id => @character.id, :character_action_id => character_action.id) %>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="action-queue">
      <div class="info-block-head">Possible Actions</div>
      <div class="info-block-body">
        <div class="options">
          <% @actions.each do |action|%>
            <div class="options-element">
              <%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>: 
              <%= action.description %> 
              (Cost: <%= action.cost(@character) %>)
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  
  <div id="main-overview">
    <div class="info-block" id="world-info">
      <div class="info-block-head"><%= @world.name %> - The world has turned <%= @world.turn%> times.</div>
      <div class="info-block-body">
        <div id="world-peers">
          <% if @other_characters.empty? %>
            You are alone.
          <% else %>
            There are <%= @other_characters.count %> other beings in this world. 
            <ul>
              <% @other_characters.each do |other| %>
                <li><%= link_to other.name, examine_character_path(:id => @character.id, :character_id => other.id) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="character-history">
      <div class="info-block-head">Recently...</div>
      <div class="info-block-body">
        <% @history.each do |story| %>
          <div class="story"><%= story %></div>
        <% end %>
        <div class="full-history"><%= link_to "View full history", character_history_path(:id=>@character.id) %></div>
      </div>
    </div>
  </div>
</div>
