<div id="player-menu">
  <%= link_to "Return to World List", root_path %>
</div>

<div id="overview">
  <div id="character-overview">
    <div class="info-block" id="character-info">
      <div class="info-block-head">Character Info</div>
      <div class="info-block-body">
        <div class="stat"><%= @character.name %></div>
        <div class="stat"><%= @character.hp %>/<%= @character.max_hp %> health</div>
        <div class="stat"><%= @character.happy %>/<%= @character.max_happy %> happy</div>
        <div class="stat"><%= @character.ap %>/<%= @character.max_ap %> vigor</div>
      </div>
    </div>

    <div class="info-block" id="conditions">
      <div class="info-block-head">Conditions</div>
      <div class="info-block-body">
        <% @conditions.each do |condition| %>
          <div class="conditions-element element"><%= condition.name %>: <%= condition.description %></div>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="inventory">
      <div class="info-block-head">Inventory</div>
      <div class="info-block-body">
        <% if @inventory.empty? %>
          You have nothing.
        <% else %>
          <% @inventory.each_value do |item| %>
            <div class="inventory-element element">
              <div class="label"><%= item.value.name %></div>
              <div class="count"><%= item.count %></div> 
              <div class="description"><%= item.value.description %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="info-block" id="knowledges">
      <div class="info-block-head">Knowledge</div>
      <div class="info-block-body">
        <% if @knowledges.empty? %>
          You might as well be called John Snow.
        <% else %>
          <% @knowledges.each do |knowledge| %>
            <div class="knowledge-element element">
              <div class="label"><%= knowledge.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="knowledges">
      <div class="info-block-head">Ideas</div>
      <div class="info-block-body">
        <% if @ideas.empty? %>
          You've got no idea.
        <% else %>
          <% @ideas.each do |idea| %>
            <div class="idea-element element">
              <div class="label"><%= idea.name %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="controls">
    <div class="info-block" id="ready-tracker">
      <div class="info-block-head">Status</div>
      <div class="info-block-body">
        <div class="ready-up">
          <% if @character.ready? %>
            <%= link_to "Wait a minute...", unready_path(:id => @character.id) %>
          <% else %>
            <%= link_to "Ready Up", ready_path(:id => @character.id) %>
          <% end %>
        </div>

        <% if @ready_to_execute %>
          <div class="execute">
            <%= link_to "Execute", execute_world_path(:id => @character.id, :world_id => @world.id) %>
          </div>
        <% else %>
          <div class="waiting-on">
            Still waiting on <%= @unready_characters.count %> players.
          </div>
        <% end %>
      </div>
    </div>

    <div class="info-block" id="proposal-manager">
      <div class="info-block-head">Proposals</div>
      <div class="info-block-body">
        <div><%= "Sent: #{@character.sent_proposals.count}" %></div>
        <div><%= "Received: #{@character.received_proposals.count}" %></div>
        <%= link_to "View Proposals", proposals_path(:id => @character.id) %>
      </div>
    </div>

    <div class="info-block" id="action-queue">
      <div class="info-block-head">
        Actions Queue
        <div class="queue-cost"><%= @queue_cost %>/<%= @character.ap %></div>
      </div>
      <div class="info-block-body">
        <div class="selections">
          <% if @character_actions.empty? %>
            No actions selected.
          <% else %>
            <% @character_actions.each do |character_action| %>
              <div class="selection-element">
                <%= character_action.get.cost.call(@character) %> -
                <%= character_action.get.name %> 
                <% if character_action.get.requires_target? %>
                  (<%= character_action.target.get.name %>)
                <% end %>
                <%= link_to "X", remove_action_path(:id => @character.id, :character_action_id => character_action.id) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="action-queue">
      <div class="info-block-head">Possible Actions</div>
      <div class="info-block-body">
        <div class="options">
          <% @actions.each do |action|%>
            <div class="options-element">
              <%= link_to action.name, add_action_path(:id => @character.id, :action_id => action.id) %>: 
              <%= action.description %> 
              (Cost: <%= action.cost.call(@character) %>)
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  
  <div id="main-overview">
    <div class="info-block" id="world-info">
      <div class="info-block-head"><%= @world.name %> - The world has turned <%= @world.turn%> times.</div>
      <div class="info-block-body">
        <div id="world-peers">
          <% if @other_characters.empty? %>
            You are alone.
          <% else %>
            There are <%= @other_characters.count %> other beings in this world. 
            <ul>
              <% @other_characters.each do |other| %>
                <li><%= link_to other.name, examine_character_path(:id => @character.id, :character_id => other.id) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="info-block" id="character-history">
      <div class="info-block-head">Recently...</div>
      <div class="info-block-body">
        <% @history.each do |story| %>
          <div class="story"><%= story %></div>
        <% end %>
        <div class="full-history"><%= link_to "View full history", character_history_path(:id=>@character.id) %></div>
      </div>
    </div>
  </div>
</div>
