<% if user_signed_in? %>
  <div class="world-list list">
    <% @worlds.each do |world| %>
      <div class="entry">
        <%= world.id %>: <%= world.name%> (<%= world.characters.count %>)
        <% unless (@user_worlds.include? world) %>
          <%= link_to "Join World", join_world_path(:id => world.id) %>  
        <% end %>
      </div>
    <% end %>
  </div>
  <hr />
  <div class="character-list list">
    <% @characters.each do |character| %>
      <div class="entry"><%= character.name%></div>
    <% end %>
  </div>


<% else %>
  Welcome! Please log in!
<% end %>
