<div>
  <h4>Offer</h4>
  <% if @sender_possessions.empty? %>
    You have nothing to offer.
  <% else %>
    <% @sender_possessions.each do |possession| %>
      <div>
        <%= check_box_tag('offered_possession_ids[]', possession.id) %>
        <%= label_tag(possession.id, possession.get.name) %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h4>Teach</h4>
  <% if @sender_teachables.empty? %>
    You have nothing to teach.
  <% else %>
    <% @sender_teachables.each do |knowledge| %>
      <div>
        <%= number_field_tag("asked_knowledge_ids[#{knowledge.id}]duration", nil, :step => 1, :min => 0, :max => 10) %>
        <%= label_tag(knowledge.id, knowledge.name) %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h4>Request</h4>
  <% if @receiver_possessions.empty? %>
    They have nothing to request.
  <% else %>
    <% @receiver_possessions.each do |possession| %>
      <div>
        <%= check_box_tag('asked_possession_ids[]', possession.id) %>
        <%= label_tag(possession.id, possession.get.name) %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h4>Learn</h4>
  <% if @receiver_teachables.empty? %>
    You have nothing to learn.
  <% else %>
    <% @receiver_teachables.each do |knowledge| %>
      <div>
        <%= number_field_tag("asked_knowledge_ids[#{knowledge.id}]duration", :min => 0, :max => 10) %>
        <%= label_tag(knowledge.id, knowledge.name) %>
      </div>
    <% end %>
  <% end %>
</div>


