<h2>Trade and Teaching Offer</h2>
<div class="info-block">
  <div class="info-block-head">You get:</div>
  <div class="info-block-body">
    <% @character_gets.each do |character_possession| %>
      <div><%= character_possession.get.name %></div>
    <% end %>
  </div>
</div>
<div class="info-block">
  <div class="info-block-head">You lose:</div>
  <div class="info-block-body">
    <% @character_loses.each do |character_possession| %>
      <div><%= character_possession.get.name %></div>
    <% end %>
  </div>
</div>
<div class="info-block">
  <div class="info-block-head">You teach:</div>
  <div class="info-block-body">
    <% @character_teaches.each do |trade_knowledge| %>
      <div><%= trade_knowledge.character_knowledge.get.name %> x<%=trade_knowledge.duration%></div>
    <% end %>
  </div>
</div>
<div class="info-block">
  <div class="info-block-head">You learn:</div>
  <div class="info-block-body">
    <% @character_learns.each do |trade_knowledge| %>
      <div><%= trade_knowledge.character_knowledge.get.name %> x<%=trade_knowledge.duration%></div>
    <% end %>
  </div>
</div>
