<div>
  <h4>My Items</h4>
  <% if @sender_possessions.empty? %>
    You have nothing to offer.
  <% else %>
    <% @sender_possessions.each do |possession| %>
      <div>
        <%= check_box_tag('offered_possession_ids[]', possession.id) %>
        <%= label_tag(possession.id, possession.get.name) %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h4>My Knowledge</h4>
  <% if @sender_knowledges.empty? %>
    You have nothing to teach.
  <% else %>
    <% @sender_knowledges.each do |knowledge| %>
      <div>
        <%= check_box_tag('offered_knowledge_ids[]', knowledge.id) %>
        <%= label_tag(knowledge.id, knowledge.get.name) %>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <h4><%= @target.name %>'s Items</h4>
  <% if @receiver_possessions.empty? %>
    He has nothing to request.
  <% else %>
    <% @receiver_possessions.each do |possession| %>
      <div>
        <%= check_box_tag('asked_possession_ids[]', possession.id) %>
        <%= label_tag(possession.id, possession.get.name) %>
      </div>
    <% end %>
  <% end %>
</div>
