<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %>
</div>

<div>
  <%= link_to "Make new proposal!", new_proposal_path(:id => @character.id, :proposal_type => 'Trade') %>
</div>

<div class="info-block">
  <div class="info-block-head">Sent</div>
  <div class="info-block-body">
    <% @sent_proposals.each do |proposal| %>
      <div>
        <% if proposal.status == 'declined' %>
          DECLINED -
        <% elsif proposal.status == 'accepted' %>
          ACCEPTED
        <% end %>
        <%= proposal.name_for_sender %>
        (<%= link_to "show", show_proposal_path(:id => @character.id, :proposal_id => proposal.id) %>)
      </div>
    <% end %>
  </div>
</div>

<div class="info-block">
  <div class="info-block-head">Received</div>
  <div class="info-block-body">
    <% @received_proposals.each do |proposal| %>
      <div>
        <% if proposal.status == 'declined' %>
          DECLINED -
        <% elsif proposal.status == 'accepted' %>
          ACCEPTED
        <% end %>
        <%= proposal.name_for_receiver %>
        (<%= link_to "show", show_proposal_path(:id => @character.id, :proposal_id => proposal.id) %>)
        <% if proposal.status == 'new' %>
          (<%= link_to "accept", accept_proposal_path(:id => @character.id, :proposal_id => proposal.id) %>)
          (<%= link_to "decline", decline_proposal_path(:id => @character.id, :proposal_id => proposal.id) %>)
        <% end %>
      </div>
    <% end %>
  </div>
</div>
