<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %>
</div>

<div>
  <%= link_to "Make new proposal!", new_proposal_path(:id => @character.id) %>
</div>

<div class="info-block">
  <div class="info-block-head">Sent</div>
  <div class="info-block-body">
    <% @sent_proposals.each do |proposal| %>
      <div>To <%= proposal.receiver.name %></div>
    <% end %>
  </div>
</div>

<div class="info-block">
  <div class="info-block-head">Received</div>
  <div class="info-block-body">
    <% @received_proposals.each do |proposal| %>
      <div>From <%= proposal.sender.name %></div>
    <% end %>
  </div>
</div>
