<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %> -
  <%= link_to "Back to Proposals", proposals_path(:id=>@character.id) %>
</div>

<% if @proposal_type == 'Trade' %>
  <%= render :partial => 'trade_form_details' %>
<% elsif @proposal_type == 'Interaction' %>
  <%= render :partial => 'interaction_form_details' %>
<% elsif @proposal_type == 'Message' %>
  <%= render :partial => 'message_form_details' %>
<% else %>
  You're messing with forces beyond your control, kid.
<% end %>
