<div id="player-menu">
  <%= link_to "Return to World List", root_path %> - 
  <%= link_to "Back to Overview", character_overview_path(:id=>@character.id) %> -
  <%= link_to "Back to Proposals", proposals_path(:id=>@character.id) %>
</div>

<div>
  <% if @proposal.content_type == 'Trade' %>
    <%= render :partial => 'trade' %>
  <% elsif @proposal.content_type == 'Interaction' %>
    <%= render :partial => 'interaction' %>
  <% elsif @proposal.content_type == 'Message' %>
    <%= render :partial => 'message' %>
    <% if @character = @proposal.receiver %>
      <%= link_to "Reply", new_proposal_details_path(:id => @character.id, :target_id => @proposal.sender.id, :proposal_type => 'Message') %>
    <% end %>
  <% else %>
    <h2>Unknown Proposal from <%= @proposal.sender.name %></h2>
    <div class="info-block">
      <div class="info-block-head">Has Anyone Really Been</div>
      <div class="info-block-body">Far Even as Decided to Use Even Go Want to do Look More Like?</div>
    </div>
  <% end %>

  <% if @proposal.status == 'open' && @proposal.acceptable? && @proposal.receiver == @character %>
    <div class="proposal-controls">
      <div class="proposal-control accept"><%= link_to "Accept", accept_proposal_path(:id => @character.id, :proposal_id => @proposal.id) %></div>
      <div class="proposal-control decline"><%= link_to "Decline", decline_proposal_path(:id => @character.id, :proposal_id => @proposal.id) %></div>
    </div>
  <% elsif @proposal.status == 'open' && @proposal.acceptable? && @proposal.sender == @character %>
    <div class="proposal-controls">
      <div class="proposal-control cancel"><%= link_to "Cancel Offer", cancel_proposal_path(:id => @character.id, :proposal_id => @proposal.id) %></div>
    </div>
  <% end %>
</div>

